<div class="pt-3 lg:mx-5 mx-3 mb-3 lg:mb-0  gap-3
flex lg:flex-row flex-column lg:justify-content-between lg:align-items-center bg-transparent">
    <p-breadcrumb [model]="breadcomb_menu_items" [home]="home" styleClass="bg-transparent" />
    <div *ngIf="user">
        <p-tag *ngIf="user.verification_status === verificationStatus.UNVERIFIED" icon="pi pi-exclamation-circle"
            severity="warn" value="Unverified" />
        <p-tag *ngIf="user.verification_status === verificationStatus.PENDING" icon="pi pi-clock" severity="info"
            value="Pending Verification" />
        <p-tag *ngIf="user.verification_status === verificationStatus.REJECTED" icon="pi pi-times-circle"
            severity="danger" value="Rejected" />
        <p-tag *ngIf="user.verification_status === verificationStatus.VERIFIED" icon="pi pi-verified" severity="success"
            value="Verified" />
    </div>

</div>
<div class="lg:p-5 p-2">
    <div class="grid" *ngIf="user">
        <div class="lg:col-8 col-12">
            <div class=" card surface-card py-5 px-5 shadow-3 border-round-xl flex flex-column gap-5">

                <div>
                    <div class="font-bold text-2xl text-900">
                        Verification Overview
                    </div>
                    <div class="text-500 mt-2">
                        Comparison between system data and uploaded ID document
                    </div>
                </div>

                <div>
                    <div class="flex justify-content-between bg-blue-50 p-3 py-5 border-round-xl" *ngIf="extractedUser">
                        <div>
                            <div class="mb-2 text-500 text-sm">
                                Overal Accuracy
                            </div>
                            <div class="font-bold text-3xl text-cyan-900">
                                {{extractedUser.overall_accuracy | percent}}
                            </div>
                        </div>
                        <div>
                            <div class="mb-2 text-500 text-sm">
                                Field Matches
                            </div>
                            <div class="font-bold text-3xl text-cyan-900 flex justify-content-end">
                                {{correctMatches}}/{{comparisons.length}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!extractedUser"
                        class="bg-orange-50 p-3 border-1 border-orange-300 border-round-lg flex align-content-center justify-content-center">
                        <div class="text-sm text-orange-600">
                            <i class="pi pi-info-circle mr-2"></i> Client has not uploaded any ID document for
                            verification
                        </div>

                    </div>
                </div>
                <ng-container *ngIf="extractedUser">
                    <!-- First name -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">First Name
                                <i *ngIf="extractedUser && getComparison(comparisons, 'First Name')?.matched"
                                    class="pi pi-check-circle ml-2" [style.color]="greenColor"></i>
                                <i *ngIf="extractedUser && !getComparison(comparisons, 'First Name')?.matched"
                                    class="pi pi-times-circle ml-2" [style.color]="redColor"></i>
                            </div>
                            <div class="font-bold text-lg">
                                <p-tag severity="info"
                                    [value]="(getComparison(comparisons, 'First Name')?.confidence * 100 | number: '1.0-2') + '%'" />
                            </div>
                        </div>
                        <div class="grid">
                            <div class="flex flex-column gap-2 md:col-6 col-12">
                                <label for="username" class="text-500 text-sm">System value</label>
                                <input pInputText id="username" aria-describedby="username-help"
                                    [(ngModel)]="user.first_name" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2 md:col-6 col-12">
                                <label for="username" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="username" aria-describedby="username-help"
                                    [(ngModel)]="extractedUser.first_name" [disabled]="true" />
                            </div>
                        </div>
                        <div *ngIf="!getComparison(comparisons, 'First Name')?.matched"
                            class="p-2 border-1 border-red-300 border-round-lg flex align-content-center justify-content-center">
                            <div class="text-sm text-red-600">
                                <i class="pi pi-info-circle mr-2"></i> Mismatch detected. Please review carefully before
                                verification.
                            </div>
                        </div>
                    </div>


                    <!-- Last Name -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">Last Name
                                <i *ngIf="getComparison(comparisons, 'Last Name')?.matched"
                                    class="pi pi-check-circle ml-2" [style.color]="greenColor"></i>
                                <i *ngIf="!getComparison(comparisons, 'Last Name')?.matched"
                                    class="pi pi-times-circle ml-2" [style.color]="redColor"></i>
                            </div>
                            <div class="font-bold text-lg">
                                <p-tag severity="info"
                                    [value]="(getComparison(comparisons, 'Last Name')?.confidence * 100 | number: '1.0-2') + '%'" />
                            </div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="username" class="text-500 text-sm">System value</label>
                                <input pInputText id="username" aria-describedby="username-help"
                                    [(ngModel)]="user.last_name" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="username" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="username" aria-describedby="username-help"
                                    [(ngModel)]="extractedUser.last_name" [disabled]="true" />
                            </div>
                        </div>
                        <div *ngIf="!getComparison(comparisons, 'Last Name')?.matched"
                            class="p-2 border-1 border-red-300 border-round-lg flex align-content-center justify-content-center">
                            <div class="text-sm text-red-600">
                                <i class="pi pi-info-circle mr-2"></i> Mismatch detected. Please review carefully before
                                verification.
                            </div>
                        </div>
                    </div>


                    <!-- Id number -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">ID Number
                                <i *ngIf="getComparison(comparisons, 'ID Number')?.matched"
                                    class="pi pi-check-circle ml-2" [style.color]="greenColor"></i>
                                <i *ngIf="!getComparison(comparisons, 'ID Number')?.matched"
                                    class="pi pi-times-circle ml-2" [style.color]="redColor"></i>
                            </div>
                            <div class="font-bold text-lg">
                                <p-tag severity="info"
                                    [value]="(getComparison(comparisons, 'ID Number')?.confidence * 100 | number: '1.0-2') + '%'" />
                            </div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="id_number" class="text-500 text-sm">System value</label>
                                <input pInputText id="id_number" aria-describedby="id_number-help"
                                    [(ngModel)]="user.id_number" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="id_number" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="id_number" aria-describedby="id_number-help"
                                    [(ngModel)]="extractedUser.id_number" [disabled]="true" />
                            </div>
                        </div>
                        <div *ngIf="!getComparison(comparisons, 'ID Number')?.matched"
                            class="p-2 border-1 border-red-300 border-round-lg flex align-content-center justify-content-center">
                            <div class="text-sm text-red-600">
                                <i class="pi pi-info-circle mr-2"></i> Mismatch detected. Please review carefully before
                                verification.
                            </div>
                        </div>
                    </div>

                    <!-- Date of Birth -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">Date of Birth
                                <i *ngIf="getComparison(comparisons, 'Date of Birth')?.matched"
                                    class="pi pi-check-circle ml-2" [style.color]="greenColor"></i>
                                <i *ngIf="!getComparison(comparisons, 'Date of Birth')?.matched"
                                    class="pi pi-times-circle ml-2" [style.color]="redColor"></i>
                            </div>
                            <div class="font-bold text-lg">
                                <p-tag severity="info"
                                    [value]="(getComparison(comparisons, 'Date of Birth')?.confidence * 100 | number: '1.0-2') + '%'" />
                            </div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="date_of_birth" class="text-500 text-sm">System value</label>
                                <input pInputText id="date_of_birth" aria-describedby="date_of_birth-help"
                                    [(ngModel)]="user.date_of_birth" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="date_of_birth" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="date_of_birth" aria-describedby="date_of_birth-help"
                                    [(ngModel)]="extractedUser.date_of_birth" [disabled]="true" />
                            </div>
                        </div>
                        <div *ngIf="!getComparison(comparisons, 'Date of Birth')?.matched"
                            class="p-2 border-1 border-red-300 border-round-lg flex align-content-center justify-content-center">
                            <div class="text-sm text-red-600">
                                <i class="pi pi-info-circle mr-2"></i> Mismatch detected. Please review carefully before
                                verification.
                            </div>
                        </div>
                    </div>

                    <!-- Place of Birth -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">Place of Birth
                                <i *ngIf="getComparison(comparisons, 'Place of Birth')?.matched"
                                    class="pi pi-check-circle ml-2" [style.color]="greenColor"></i>
                                <i *ngIf="!getComparison(comparisons, 'Place of Birth')?.matched"
                                    class="pi pi-times-circle ml-2" [style.color]="redColor"></i>
                            </div>
                            <div class="font-bold text-lg">
                                <p-tag severity="info"
                                    [value]="(getComparison(comparisons, 'Place of Birth')?.confidence * 100 | number: '1.0-2') + '%'" />
                            </div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="place_of_birth" class="text-500 text-sm">System value</label>
                                <input pInputText id="place_of_birth" aria-describedby="place_of_birth-help"
                                    [(ngModel)]="user.place_of_birth" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="place_of_birth" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="place_of_birth" aria-describedby="place_of_birth-help"
                                    [(ngModel)]="extractedUser.place_of_birth" [disabled]="true" />
                            </div>
                        </div>
                        <div *ngIf="!getComparison(comparisons, 'Place of Birth')?.matched"
                            class="p-2 border-1 border-red-300 border-round-lg flex align-content-center justify-content-center">
                            <div class="text-sm text-red-600">
                                <i class="pi pi-info-circle mr-2"></i> Mismatch detected. Please review carefully before
                                verification.
                            </div>
                        </div>
                    </div>

                    <!-- Village of Origin -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">Village of Origin
                                <i *ngIf="getComparison(comparisons, 'Village of Origin')?.matched"
                                    class="pi pi-check-circle ml-2" [style.color]="greenColor"></i>
                                <i *ngIf="!getComparison(comparisons, 'Village of Origin')?.matched"
                                    class="pi pi-times-circle ml-2" [style.color]="redColor"></i>
                            </div>
                            <div class="font-bold text-lg">
                                <p-tag severity="info"
                                    [value]="(getComparison(comparisons, 'Village of Origin')?.confidence * 100 | number: '1.0-2') + '%'" />
                            </div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="village_of_origin" class="text-500 text-sm">System value</label>
                                <input pInputText id="village_of_origin" aria-describedby="village_of_origin-help"
                                    [(ngModel)]="user.village_of_origin" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="village_of_origin" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="village_of_origin" aria-describedby="village_of_origin-help"
                                    [(ngModel)]="extractedUser.village_of_origin" [disabled]="true" />
                            </div>
                        </div>
                        <div *ngIf="!getComparison(comparisons, 'Village of Origin')?.matched"
                            class="p-2 border-1 border-red-300 border-round-lg flex align-content-center justify-content-center">
                            <div class="text-sm text-red-600">
                                <i class="pi pi-info-circle mr-2"></i> Mismatch detected. Please review carefully before
                                verification.
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!extractedUser">
                    <!-- First name -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">First Name
                                <i *ngIf="extractedUser && getComparison(comparisons, 'First Name')?.matched"
                                    class="pi pi-check-circle ml-2" [style.color]="greenColor"></i>
                                <i *ngIf="extractedUser && !getComparison(comparisons, 'First Name')?.matched"
                                    class="pi pi-times-circle ml-2" [style.color]="redColor"></i>
                            </div>
                            <div class="font-bold text-lg"></div>
                        </div>
                        <div class="grid">
                            <div class="flex flex-column gap-2 md:col-6 col-12">
                                <label for="username" class="text-500 text-sm">System value</label>
                                <input pInputText id="username" aria-describedby="username-help"
                                    [(ngModel)]="user.first_name" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2 md:col-6 col-12">
                                <label for="username" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="username" aria-describedby="username-help" [disabled]="true" />
                            </div>
                        </div>
                    </div>


                    <!-- Last Name -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">Last Name
                            </div>
                            <div class="font-bold text-lg"></div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="username" class="text-500 text-sm">System value</label>
                                <input pInputText id="username" aria-describedby="username-help"
                                    [(ngModel)]="user.last_name" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="username" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="username" aria-describedby="username-help" [disabled]="true" />
                            </div>
                        </div>
                    </div>


                    <!-- Id number -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">ID Number</div>
                            <div class="font-bold text-lg"></div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="id_number" class="text-500 text-sm">System value</label>
                                <input pInputText id="id_number" aria-describedby="id_number-help"
                                    [(ngModel)]="user.id_number" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="id_number" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="id_number" aria-describedby="id_number-help" [disabled]="true" />
                            </div>
                        </div>
                    </div>

                    <!-- Date of Birth -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">Date of Birth</div>
                            <div class="font-bold text-lg"></div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="date_of_birth" class="text-500 text-sm">System value</label>
                                <input pInputText id="date_of_birth" aria-describedby="date_of_birth-help"
                                    [(ngModel)]="user.date_of_birth" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="date_of_birth" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="date_of_birth" aria-describedby="date_of_birth-help"
                                    [disabled]="true" />
                            </div>
                        </div>
                    </div>

                    <!-- Place of Birth -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">Place of Birth</div>
                            <div class="font-bold text-lg"></div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="place_of_birth" class="text-500 text-sm">System value</label>
                                <input pInputText id="place_of_birth" aria-describedby="place_of_birth-help"
                                    [(ngModel)]="user.place_of_birth" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="place_of_birth" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="place_of_birth" aria-describedby="place_of_birth-help"
                                    [disabled]="true" />
                            </div>
                        </div>
                    </div>

                    <!-- Village of Origin -->
                    <div class="card surface-card p-3 surface-border border-1 border-round-xl">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-900 font-bold mb-2">Village of Origin</div>
                            <div class="font-bold text-lg"></div>
                        </div>
                        <div class="grid ">
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="village_of_origin" class="text-500 text-sm">System value</label>
                                <input pInputText id="village_of_origin" aria-describedby="village_of_origin-help"
                                    [(ngModel)]="user.village_of_origin" [disabled]="true" />
                            </div>
                            <div class="flex flex-column gap-2  md:col-6 col-12">
                                <label for="village_of_origin" class="text-500 text-sm">Extracted value</label>
                                <input pInputText id="village_of_origin" aria-describedby="village_of_origin-help"
                                    [disabled]="true" />
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>



        <div class="lg:col-4  col-12 flex flex-column gap-3">
            <div class="card surface-card p-4 px-5 shadow-3 border-round-xl flex flex-column gap-5">
                <div class="font-bold text-2xl text-900">
                    Uploaded ID Document
                </div>
                <div class="text-cyan-700">
                    <div *ngIf="pdfUrl">
                        <img [src]="pdfUrl" alt="No Preview Available" class="w-full h-auto" />
                    </div>
                    <div *ngIf="!pdfUrl">
                        <div>
                            <i class="pi pi-info-circle mr-2"></i>No document preview available.
                        </div>
                    </div>
                </div>
            </div>

            <div class="card surface-card p-4 px-5 shadow-3 border-round-xl"
                *ngIf="user.verification_status === verificationStatus.PENDING">
                <div class="font-bold text-2xl text-900 mb-4">
                    Verification Decision
                </div>
                <div class="font-bold text-500 mb-3">
                    Verification Notes and Comments
                </div>
                <textarea rows="5" cols="30" pTextarea [autoResize]="true" [fluid]="true"
                    [disabled]="!extractedUser || user.verification_status !== verificationStatus.PENDING"
                    placeholder="Enter your analysis and any other observations.."
                    [(ngModel)]="verificationNotes"></textarea>
                <p-button label="Verify Client" icon="pi pi-check-circle" styleClass="mt-2 text-white" [fluid]="true"
                    (onClick)="onVerifyUser()"
                    [disabled]="!extractedUser || user.verification_status !== verificationStatus.PENDING || verificationNotes == ''" />
                <p-button label="Reject" severity="danger" icon="pi pi-times-circle" (onClick)="onRejectUser()"
                    styleClass="mt-2 border-1 surface-border py-2" [fluid]="true"
                    [disabled]="!extractedUser || user.verification_status !== verificationStatus.PENDING || verificationNotes == ''" />

                <p-divider />
                <div class="text-500 text-sm mb-1 text-center">This decision will be logged.</div>
                <div class="text-500 text-sm text-center">Ensure all evidence has been thoroughly examined.</div>
            </div>

            <div class="card surface-card p-4 px-5 shadow-3 border-round-xl"
                *ngIf="user.verification_status === verificationStatus.REJECTED || user.verification_status === verificationStatus.VERIFIED">
                <div class="font-bold text-2xl text-900 mb-2">
                    Verification Notes
                </div>
                <div class="text-500 mt-2">{{user.verification_notes || 'No reason provided.'}}</div>

            </div>


            <div class="card surface-card p-4 px-5 shadow-3 border-round-xl">
                <div class="font-bold text-2xl text-900 mb-4">
                    Account Status
                </div>
                <div class="flex flex-column gap-3">
                    <div class="flex justify-content-between">
                        <div class="text-500">Current Status</div>
                        <div>
                            <p-tag *ngIf="user.is_logged_in" icon="pi pi-check-circle" severity="secondary"
                                value="Online" />
                            <p-tag *ngIf="!user.is_logged_in" icon="pi pi-times-circle" severity="secondary"
                                value="Offline" />
                        </div>
                    </div>
                    <div class="flex justify-content-between">
                        <div class="text-500">Verification</div>
                        <div>
                            <p-tag *ngIf="user.verification_status === verificationStatus.VERIFIED"
                                icon="pi pi-check-circle" severity="secondary" value="Verified" />
                            <p-tag *ngIf="user.verification_status === verificationStatus.PENDING"
                                icon="pi pi-times-circle" severity="secondary" value="Pending" />
                        </div>
                    </div>
                    <p-divider />
                    <div class="flex flex-column gap-4">
                        <div class="flex justify-content-start align-items-top gap-3">
                            <i class="pi pi-clock text-xl text-500"></i>
                            <div class="flex flex-column">
                                <div class="text-500 mb-1">Last Login</div>
                                <div class="text-900">{{user.date_last_logged_in | date: 'medium' | nullDisplay}}</div>
                            </div>
                        </div>
                        <div class="flex justify-content-start align-items-top gap-3">
                            <i class="pi pi-calendar text-xl text-500"></i>
                            <div class="flex flex-column">
                                <div class="text-500 mb-1">Account Created</div>
                                <div class="text-900">{{user.date_created | date: 'medium' | nullDisplay}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card surface-card p-4 px-5 shadow-3 border-round-xl w-full">
                <div class=" text-2xl text-900 mb-4">
                    Account verification Timeline
                </div>
                <app-verification-tracking [user]="user"></app-verification-tracking>
            </div>

            <!-- <div>
                <div
                    class="shadow-1 bg-green-50 p-3 border-1 border-green-300 border-round-xl flex align-content-center justify-content-center">
                    <div class="mb-2 text-lg text-green-600">
                        <i class="pi pi-check-circle text-green-600 mr-2"></i> Case was dismissed
                    </div>
                </div>
                <div>
                    <div
                        class="shadow-1 bg-orange-50 p-3 border-1 border-orange-300 border-round-xl flex align-content-center justify-content-center">
                        <div class="mb-2 text-lg text-orange-600">
                            <i class="pi pi-check-circle mr-2"></i> Case was flagged as Fraudulent
                        </div>

                    </div>
                    <p-button label="Follow up" icon="pi pi-question-circle" styleClass="mt-2 text-white"
                        [fluid]="true" />
                </div>
            </div> -->
        </div>
    </div>
</div>


<!-- <p-drawer  header="✨ Spark" [(visible)]="showChat" position="right" [closable]="true" styleClass="w-5">
    <app-chat-single *ngIf="showChat" [taxpayer_id]="user.taxpayer_id"></app-chat-single>
</p-drawer> -->