// <div class="pt-3 lg:mx-5 mx-3 mb-3 lg:mb-0  gap-3
// flex lg:flex-row flex-column lg:justify-content-between lg:align-items-center bg-transparent">
//     <p-breadcrumb [model]="breadcomb_menu_items" [home]="home" styleClass="bg-transparent" />
//     <!-- <div *ngIf="user">
//         <p-tag *ngIf="user.verification_status === verificationStatus.UNVERIFIED" icon="pi pi-exclamation-circle"
//             severity="warn" value="Unverified" />
//         <p-tag *ngIf="user.verification_status === verificationStatus.PENDING" icon="pi pi-clock" severity="info"
//             value="Pending Verification" />
//         <p-tag *ngIf="user.verification_status === verificationStatus.REJECTED" icon="pi pi-times-circle"
//             severity="danger" value="Rejected" />
//         <p-tag *ngIf="user.verification_status === verificationStatus.VERIFIED" icon="pi pi-verified" severity="success"
//             value="Verified" />
//     </div> -->

// </div>

// <div class="lg:p-5 p-2">
//     <div class="grid" *ngIf="temporaryLossApplication">
//         <div class="lg:col-5 col-12">
//             <div class=" card surface-card py-5 px-5 shadow-3 border-round-xl flex flex-column gap-5">
//                 <div class="text-cyan-700">
//                     <div *ngIf="pdfUrl">
//                         <iframe [src]="pdfUrl" width="100%" height="600px" style="border: none;">
//                         </iframe>
//                     </div>
//                 </div>
//             </div>
//             <div class="card surface-card p-4 px-5 shadow-3 border-round-xl w-full mt-4">
//                 <div class=" text-2xl text-900 mb-4">
//                     Application Timeline
//                 </div>
//                 <app-application-tracking [temporaryLossApplication]="temporaryLossApplication"></app-application-tracking>
//             </div>
//         </div>
//         <form class="lg:col-7 col-12" [formGroup]="editTemporaryLossForm">
//             <div class=" card surface-card py-5 px-5 shadow-3 border-round-xl">
//                 <div *ngIf="page == 0" class=" flex flex-column gap-3">
//                     <div class="text-lg font-bold text-800 text-center">Temporary Loss Of Income Protection Proposal
//                         Form
//                     </div>
//                     <div class="surface-100 p-3 border-round-lg  mb-4 text-800 font-bold">
//                         AGENT DETAILS
//                     </div>
//                     <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row">
//                         <label for="agent_full_name" class="text-sm lg:w-3">FULL NAME AND SURNAME</label>
//                         <input agent_full_name type="text" pInputText formControlName="agent_full_name"
//                             class="w-full" />
//                     </div>
//                     <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row">
//                         <label for="agent_number" class="text-sm lg:w-3">AGENT NUMBER</label>
//                         <input agent_number type="text" pInputText formControlName="agent_number" class="w-full" />
//                     </div>
//                     <div class="surface-100 p-3 border-round-lg  mb-4 text-800 font-bold">
//                         INSURED DETAILS
//                     </div>
//                     <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row">
                        
//                         <label for="full_name" class="text-sm lg:w-3">FULL NAME AND SURNAME</label>
//                         <input full_name type="text" pInputText formControlName="full_name" class="w-full" />
//                     </div>
//                     <div class="grid">
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="title" class="text-sm lg:w-9">TITLE</label>
//                             <input title type="text" pInputText formControlName="title" class="w-full" />
//                         </div>
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="gender" class="text-sm lg:w-3">GENDER</label>
//                             <input gender type="text" pInputText formControlName="gender" class="w-full" />
//                         </div>
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="id_number" class="text-sm lg:w-9">ID NUMBER</label>
//                             <input id_number type="text" pInputText formControlName="id_number" class="w-full" />
//                         </div>
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="date_of_birth" class="text-sm lg:w-3">DATE OF BIRTH</label>
//                             <input date_of_birth type="text" pInputText formControlName="date_of_birth"
//                                 class="w-full" />
//                         </div>
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="contact_number" class="text-sm lg:w-9">CONTACT NUMBER</label>
//                             <input contact_number type="text" pInputText formControlName="contact_number"
//                                 class="w-full" />
//                         </div>
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="email" class="text-sm lg:w-3">EMAIL ADDRESS</label>
//                             <input email type="text" pInputText formControlName="email" class="w-full" />
//                         </div>
//                     </div>
//                     <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row">
//                         <label for="address" class="text-sm lg:w-3">RESIDENTIAL ADDRESS</label>
//                         <input address type="text" pInputText formControlName="address" class="w-full" />
//                     </div>
//                     <div class="font-bold underline text-800">NEXT OF KIN</div>

//                     <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row">
//                         <label for="nok_full_name" class="text-sm lg:w-3">FULL NAME AND SURNAME</label>
//                         <input nok_full_name type="text" pInputText formControlName="nok_full_name" class="w-full" />
//                     </div>
//                     <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row">
//                         <label for="nok_contact_number" class="text-sm lg:w-3">CONTACT NUMBER</label>
//                         <input nok_contact_number type="text" pInputText formControlName="nok_contact_number"
//                             class="w-full" />
//                     </div>
//                     <div class="surface-100 p-3 border-round-lg  mb-4 text-800 font-bold">
//                         BANK DETAILS
//                     </div>
//                     <div class="grid">
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="bank_name" class="text-sm lg:w-9">BANK NAME</label>
//                             <input bank_name type="text" pInputText formControlName="bank_name" class="w-full" />
//                         </div>
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="b_date_of_birth" class="text-sm lg:w-3">DATE OF BIRTH</label>
//                             <input b_date_of_birth type="text" pInputText formControlName="b_date_of_birth"
//                                 class="w-full" />
//                         </div>
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="account_number" class="text-sm lg:w-9">ACCOUNT NUMBER</label>
//                             <input account_number type="text" pInputText formControlName="account_number"
//                                 class="w-full" />
//                         </div>
//                         <div class="flex lg:align-items-center gap-3 flex-column lg:flex-row lg:col-6 col-12">
//                             <label for="branch_code" class="text-sm lg:w-3">BRANCH CODE</label>
//                             <input branch_code type="text" pInputText formControlName="branch_code" class="w-full" />
//                         </div>

//                     </div>
//                 </div>

//                 <div *ngIf="page == 1" class="flex flex-column gap-3">
//                     <div class="surface-100 p-3 border-round-lg  mb-4 text-800 font-bold">
//                         SECTION B: HOSPITAL CASH PLAN SECTION
//                     </div>
//                     <div class="font-bold underline text-800 mb-3">DETAILS OF DEPENDENTS</div>


//                     <p-table [value]="dependents" dataKey="id" [tableStyle]="{ 'min-width': '30rem' }" [showGridlines]="true">
//                         <ng-template #header>
//                             <tr>
//                                 <th style="width:25%" class="surface-100">
//                                     Full Name
//                                 </th>
//                                 <th style="width:25%" class="surface-100">
//                                     ID Number
//                                 </th>
//                                 <th style="width:25%" class="surface-100">
//                                     Date of Birth
//                                 </th>
//                                 <th style="width:25%" class="surface-100">
//                                     Age
//                                 </th>
//                                 <th style="width:25%" class="surface-100">
//                                     Gender
//                                 </th>
//                                 <th style="width:25%" class="surface-100">
//                                     Relationship
//                                 </th>
//                             </tr>
//                         </ng-template>
//                         <ng-template #body let-product let-editing="editing">
//                             <tr>
//                                 <td [pEditableColumn]="product.full_name" pEditableColumnField="full_name">
//                                     <p-cellEditor>
//                                         <ng-template #input>
//                                             <input pInputText type="text" [(ngModel)]="product.full_name" />
//                                         </ng-template>
//                                         <ng-template #output>
//                                             {{ product.full_name }}
//                                         </ng-template>
//                                     </p-cellEditor>
//                                 </td>
//                                 <td [pEditableColumn]="product.id_number" pEditableColumnField="id_number">
//                                     <p-cellEditor>
//                                         <ng-template #input>
//                                             <input pInputText type="text" [(ngModel)]="product.id_number" required />
//                                         </ng-template>
//                                         <ng-template #output>
//                                             {{ product.id_number }}
//                                         </ng-template>
//                                     </p-cellEditor>
//                                 </td>
//                                 <td [pEditableColumn]="product.date_of_birth" pEditableColumnField="date_of_birth">
//                                     <p-cellEditor>
//                                         <ng-template #input>
//                                             <input pInputText [(ngModel)]="product.date_of_birth" />
//                                         </ng-template>
//                                         <ng-template #output>
//                                             {{ product.date_of_birth }}
//                                         </ng-template>
//                                     </p-cellEditor>
//                                 </td>
//                                 <td [pEditableColumn]="product.age" pEditableColumnField="age">
//                                     <p-cellEditor>
//                                         <ng-template #input>
//                                             <input pInputText type="text" [(ngModel)]="product.age" />
//                                         </ng-template>
//                                         <ng-template #output>
//                                             {{ product.age }}
//                                         </ng-template>
//                                     </p-cellEditor>
//                                 </td>
//                                 <td [pEditableColumn]="product.gender" pEditableColumnField="gender">
//                                     <p-cellEditor>
//                                         <ng-template #input>
//                                             <input pInputText type="text" [(ngModel)]="product.gender" />
//                                         </ng-template>
//                                         <ng-template #output>
//                                             {{ product.gender }}
//                                         </ng-template>
//                                     </p-cellEditor>
//                                 </td>
//                                 <td [pEditableColumn]="product.client_relationship"
//                                     pEditableColumnField="client_relationship">
//                                     <p-cellEditor>
//                                         <ng-template #input>
//                                             <input pInputText type="text" [(ngModel)]="product.client_relationship" />
//                                         </ng-template>
//                                         <ng-template #output>
//                                             {{ product.client_relationship }}
//                                         </ng-template>
//                                     </p-cellEditor>
//                                 </td>
//                             </tr>
//                         </ng-template>
//                     </p-table>


//                     <div>DOES THE PROPOSER HAVE AN EXISTING INSURANCE COVERAGE WITH ANY OTHER COMPANY, GIVE
//                         DETAILS: </div>
//                     <div class="flex gap-3 flex-column">
//                         <textarea rows="3" pTextarea class="w-full"
//                             formControlName="existing_insurance_with_other_company"></textarea>
//                     </div>
//                     <div>DOES THE PROPOSER HAVE AN EXISTING CHRONIC OR RECURRING MEDICAL CONDITION E.G DIABETES, BLOOD
//                         PRESSURE, ETC, IF SO PLEASE GIVE DETAILS: </div>
//                     <div class="flex gap-3 flex-column">
//                         <textarea rows="3" pTextarea class="w-full"
//                             formControlName="existing_chronic_condition"></textarea>
//                     </div>
//                     <div class="font-bold underline text-800">DETAILS OF CLAIMS</div>
//                     <div class="flex  gap-3 flex-column">
//                         <label for="claim_ailment">a) AILMENT FOR WHICH CLAIM WAS MADE</label>
//                         <input claim_ailment type="text" pInputText formControlName="claim_ailment" class="w-full" />
//                     </div>
//                     <div class="flex gap-3 flex-column">
//                         <label for="claim_amount">b) CLAIM AMOUNT PAID/REJECTED</label>
//                         <input claim_amount type="text" pInputText formControlName="claim_amount" class="w-full" />
//                     </div>
//                     <div>HAVE YOU EVER BEEN DECLINED HEALTH INSURANCE COVERAGE DUE TO A DIAGNOSIS OF A HEALTH CONDITION?
//                     </div>
//                     <div class="flex gap-3">
//                         <div>TICK IF YES: </div>
//                         <div class="flex gap-3">
//                             <p-checkbox [binary]="true" formControlName="declined_coverage" />
//                             <!-- <p-checkbox [binary]="true" /> -->
//                         </div>
//                     </div>
//                     <!-- <div></div> -->
//                     <div class="flex gap-3 flex-column">
//                         <label for="declined_cover_reason">IF THE ANSWER TO THE ABOVE IS YES, STATE THE REASON</label>
//                         <textarea rows="3" pTextarea class="w-full" formControlName="declined_cover_reason"
//                             class="w-full"></textarea>
//                     </div>
//                 </div>


//                 <div class="card flex justify-content-around mt-6">
//                     <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="1" [totalRecords]="2" />
//                 </div>
//             </div>
//         </form>
//     </div>
// </div>