<div class="pt-3 mb-4 md:flex justify-content-between align-items-center bg-transparent">
    <p-breadcrumb [model]="breadcomb_menu_items" [home]="home" styleClass="bg-transparent" />
    <!-- <div *ngIf="user">
        <p-tag *ngIf="user.verification_status === verificationStatus.UNVERIFIED" icon="pi pi-clock" severity="warn"
            value="Unverified" />
        <p-tag *ngIf="user.verification_status === verificationStatus.PENDING" icon="pi pi-clock" severity="warn"
            value="Pending Verification" />
        <p-tag *ngIf="user.verification_status === verificationStatus.REJECTED" icon="pi pi-clock" severity="danger"
            value="Rejected" />
        <p-tag *ngIf="user.verification_status === verificationStatus.VERIFIED" icon="pi pi-verified" severity="success"
            value="Verified" />
    </div> -->

</div>



<div class="card border-1 surface-border border-round-lg p-4 surface-card">
    <div class="text-4xl">Application Data Extraction</div>
    <div class="text-500 mt-3 mb-5">Upload the temporary loss application for extraction</div>
    <p-fileUpload name="demo[]" url="./upload.php" [customUpload]="true" mode="advanced" [multiple]="true"
        (uploadHandler)="onUpload($event)" auto="true" accept=".jpg, .png, .jpeg, .pdf" (onRemove)="onRemoveFile($event)"
         styleClass="border-0" chooseIcon="pi pi-images"
        chooseStyleClass="p-button-outlined p-button-primary">

        <ng-template #content *ngIf="uploadedFiles.length === 0">
            <div class="flex align-content-center justify-content-center flex-column border-2 
            border-round-2xl border-dashed surface-border
            p-8 text-300 text-center">
                <i class="pi pi-cloud-upload text-8xl "></i>
                <p class="mt-6 mb-0 text-600">Drag and drop file here to upload.</p>
            </div>
        </ng-template>

    </p-fileUpload>


    <div class="flex justify-content-end mt-4">
        <p-button label="Submit for Extraction" icon="pi pi-save" severity="primary" (onClick)="submitVerification()"
            [disabled]="uploadedFiles.length === 0"></p-button>
    </div>


</div>