<div class="flex" style="height: 100vh; overflow-x: hidden;">
    <div class="surface-border surface-card border-right-1 h-screen overflow-y-auto flex-shrink-0 hidden lg:block">

        <div class="p-2 flex flex-column items-center justify-content-center mx-">
            <div class=" mb-3 mt-1">
                <img src="assets/images/champions icon.png" alt="logo" width="45" />
                <!-- class=" p-1 border-1 border-round-2xl border-500" /> -->
            </div>
            <p-menu class="hidden"></p-menu>
            <a pRipple class="p-menu-item-link my-2 border-round-lg"
                [ngClass]="{ 'bg-primary': isActiveMenu(item.routerLink), 'hover:surface-100 hover:border-1 hover:border-round-2xl': !isActiveMenu(item.routerLink) }"
                [pTooltip]="item.label" *ngFor="let item of items" [routerLink]="item.routerLink"
                (click)="item.command ? item.command({item: item}) : null">
                <p-overlaybadge severity="success" class="mt-1" [value]="item.badge"
                    *ngIf="item.badge && item.badge !== '0'">
                    <span [class]="item.icon" class="text-lg p-1"></span>
                </p-overlaybadge>
                <span [class]="item.icon" class="text-lg p-1" *ngIf="!item.badge || item.badge == '0'"></span>
            </a>
        </div>
    </div>

    <div class="flex-1 flex flex-column min-w-0">

        <div class="w-full h-4rem surface-card  border-bottom-1 surface-border
            shadow-1 z-5 flex justify-content-between align-items-center px-3 gap-3">
            <div class="flex align-items-center gap-3">
                <!-- <div class="">
                    <img src="assets/images/champions icon.png" alt="logo" width="30" />
                </div> -->
                <span class="text-xl lg:text-2xl text-primary-600">InsureFlow</span>
            </div>
            <div class="flex align-items-center gap-3">
                <p-overlaybadge severity="danger" *ngIf="allActiveUnreadNotifications.length > 0">
                    <i class="pi pi-bell" style="font-size: 1rem; color: var(--p-primary-color);"></i>
                </p-overlaybadge>
                <div *ngIf="allActiveUnreadNotifications.length == 0">
                    <i class="pi pi-bell" style="font-size: 1rem; color: var(--p-primary-color);"></i>
                </div>
                <div>
                    <p-button (onClick)="toggleDarkMode()" [icon]="themeIcon" [rounded]="true" [text]="true" />
                </div>

                <div>
                    <p-avatar [label]="avatarText"
                        styleClass="mr-2 text-sm bg-primary cursor-pointer hover:bg-primary-700" pTooltip="My Account"
                        shape="circle" routerLink="account" />

                </div>
            </div>
        </div>

        <div class="flex-1 overflow-y-auto surface-ground min-w-0">
            <div class="p-3 md:pb-0 md:mb-0 md:px-5 md:py-2 router-outlet-container w-full max-w-full">
                <div *ngIf="isManipulatingData" class="spinner-overlay min-h-screen">
                    <p-progressSpinner></p-progressSpinner>
                </div>
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>

<p-toolbar class="sticky bottom-0 left-0 w-full z-5 lg:hidden">
    <a pRipple class="p-menu-item-link my-2 border-round-lg"
        [ngClass]="{ 'bg-primary': isActiveMenu(item.routerLink), 'hover:surface-100 hover:border-1 hover:border-round-2xl': !isActiveMenu(item.routerLink) }"
        [pTooltip]="item.label" *ngFor="let item of items" [routerLink]="item.routerLink"
        (click)="item.command ? item.command({item: item}) : null">
        <p-overlaybadge severity="success" class="mt-1" [value]="item.badge" *ngIf="item.badge && item.badge !== '0'">
            <span [class]="item.icon" class="text-lg p-1"></span>
        </p-overlaybadge>
        <span [class]="item.icon" class="text-lg p-1" *ngIf="!item.badge || item.badge == '0'"></span>
    </a>
</p-toolbar>